# /docker-compose.yml

version: "3.8"

services:
  bot:
    image: thinkprocedural/bot:latest
    container_name: bot
    restart: unless-stopped
    environment:
      # discord token
      TOKEN: "DISCORD_TOKEN"

      # bot command prefix
      PREFIX: "!"

      # console logging level
      # "CRITICAL", "ERROR", "WARNING", "INFO", "DEBUG"
      LOGGING_LEVEL: "CRITICAL"
