name: Automatically set versioned branch name as tag on latest commit

on:
  push:
    branches: v*.*.*

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - 
        name: Git checkout
        uses: actions/checkout@v2
      - 
        name: Get branch name
        run: echo running on branch ${GITHUB_REF##*/}
      - 
        name: Bump version and push tag
        id: tag_version
        uses: mathieudutour/github-tag-action@v5.1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - 
        name: Move tag
        uses: negz/create-tag@v1 
        with:
          version: ${{ ${GITHUB_REF##*/} }}
          message: ''
          token: ${{ secrets.GITHUB_TOKEN }}